/* line 5, ../sass/index.scss */
#sidebar .sidebar-title {
  color: white;
  text-align: center;
  margin-top: 40px;
}

/* line 14, ../sass/index.scss */
#main-content .content-box-content .judge-param {
  padding: 0;
}
/* line 19, ../sass/index.scss */
#main-content .big-header {
  height: 150px;
}
/* line 22, ../sass/index.scss */
#main-content .big-header .header-form {
  padding: 50px 0 0 15px;
}
/* line 25, ../sass/index.scss */
#main-content .big-header .header-form .header-item {
  float: left;
  margin-right: 20px;
}
/* line 33, ../sass/index.scss */
#main-content td .text-input {
  padding: 6px;
  font-size: 13px;
  background: white url("/assets/img/bg-form-field.gif") top left repeat-x;
  border: 1px solid #d5d5d5;
  color: #333;
}
